.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map-container > h2 {
  margin: 40px 0;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
}