.carousel {
  margin: 20px 0;
}

.carousel h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.6em;
  text-align: center;
  margin: 40px 0;
}

.ejemplo {
  max-width: 80%;
}

@media (min-width: 800px) {

  .ejemplo {
    max-width: 30%;
  }
}
