* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	text-decoration: none;
	border: none;
}

:root{
	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66);
	--prueba: (180deg,#21c8f6,#637bff);
}

#inicio {
  width: 100%;
  height: 100vh;
  background-image: url('./static/wallaper_mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  /* background: linear-gradient(180deg,#272727,#ffffff1c); */
  /* background: linear-gradient(180deg,#242424,#3c3a3a); */
  width: 260px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px black;
}

.subtitle {
  text-align: center;
  width: 200px;
  font-size: 1em;
  color: white;
  text-shadow: 2px 2px black;
  word-wrap: break-word;
}

#precios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#precios h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
}

.listaPrecios {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listaPrecios > li {
  width: 80%;
  height: 100px;
}

.tarjeta-precio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}

.info-pelado {
  width: 35%;
  height: 100%;
  border-radius: 9px 0 0 9px;
  border-right: solid 1px rgb(180, 179, 179);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.info-pelado > p {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0px;
}

.info-pelado > p > i {
  margin-right: 4px;
}

.nombre-pelado {
  width: 65%;
  height: 100%;
  border-radius: 0 9px 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta-precio:hover > .nombre-pelado {
  background: linear-gradient(180deg,#21c8f6,#637bff);
  color: white;
}

.tarjeta-precio:hover > .info-pelado {
  background: linear-gradient(180deg,#21c8f6,#637bff);
  color: white;
}

.nombre-pelado > p {
  text-align: center;
  padding: 0 10px;
  margin: 0;
}

.listaPrecios > li:nth-child(odd) {
  margin: 20px 0px;
}

