* {
  box-sizing: border-box;
  margin: 0;
}

#background {
  width: 100vw;
  height: 40vh;
  background-image: url('./static/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;
}